.otp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .otp_form {
    width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border: 0.5px solid rgb(255, 227, 186);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 1.5rem;
  }
  
  .otp_form h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
  }
  

  .otp_form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  

  .otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  
  .otp-inputs input {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .otp_form button {
    width: 60%;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
  }
  
  .otp_form button:hover {
    background-color: var(--tertiary-color);
  }
  