.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register h2{
    color: var(--primary-color);
}

.register div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.register .reg_form{
    width: 40%;
    border: 0.5px solid rgb(255, 227, 186);
    margin:2rem 0rem 2rem 0rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg_form input{
    width: 25rem;
    height: 1rem;
    padding: 8px;
    border-radius: 10px;
    border: 0.5px solid var(--tertiary-color);
    font-size: 15px;
}
.reg_form label{
    font-size: medium;
    padding-left: 0.5rem;
}
.reg_form input:focus{
    outline:none;
}


.reg_form .button{
    background-color:var(--secondary-color);
    font-size: large;
    color: white;
    font-weight: 700;
    border: none;
    width: 30%;
    height: 4vh;
    border-radius: 10px;
    margin: 1rem 0rem 2rem 0rem;
}

.reg_form .button:hover{
    background-color:rgb(2, 188, 2);
}
.error_text{
    height: 1rem;
    color: red;
}