.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .form{
    width: 60%;
    border: 1px solid gray;
    margin:5rem 0rem 5rem 0rem ;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}