.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
  
  .menu div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .menu div:hover {
    background-color: #f8ede2;
  }
  
  .menu div img {
    width: 1.5rem;
  }
  
  .menu .item {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
  }
  
  .menu a {
    text-decoration: none;
    color: inherit;
  }
  
  .menu .item.active {
    background-color: #d4e9f5; /* Highlight color for active menu item */
  }
  