.footerDiv {
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden; /* Ensure content stays inside the SVG */
}

.footerSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Change from 100% to 100vw */
    height: 300px;
    z-index: -1;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1rem 0; /* Optional: add some padding */
    background-color: transparent; /* Make the footer background transparent */
    z-index: 1; /* Ensure the footer content is above the SVG */
}

.footer img {
    padding-top: 5rem;
    max-width: 4%;
}

.footer .fotenote {
    padding-top: 8rem;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.footer .animation {
    width: 8%;
}
