.visualizer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visualizer p{
  color: chocolate;
  font-size: 1.4rem;
}



.visualizer .header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  gap: 10px;
}
.visualizer .header h3{
  color: green;
  font-family: cursive;
}

.visualizer .header span{
  color: orangered;
  font-weight: 700;
}
.visualizer .content div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.visualizer .content .buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color:rgb(2, 182, 2)
}



.visualizer .buttons button{
  padding: 5px 10px 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(195, 239, 106);
}

.visualizer .buttons button:hover{
  background-color: rgb(220, 253, 155);
}

.visualizer .footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visualizer .footer h3{
  /* color: rgb(0, 212, 0); */
  color: green;
  font-weight: 600;
}

.visualizer .footer label{
  color: chocolate;
  font-weight: 600;
  font-size: 1.2rem;
}