.header{
    padding: 1rem 15rem 4rem 10rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.header .animation{
    width:10vw;
}
.header img{
    width: 9vw;
}
