.header{
    padding: 1rem 15rem 4rem 10rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.header .animation{
    width:10vw;
}
.header .logo{
    width: 7vw;
    margin-right: 2rem;
}



.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.user img{
    width: 2vw;
}

.user label{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, seri;
}

.user label a {
    text-decoration: none;
    color: inherit; 
  }
  
  .user label a:hover {
    color: green; 
    
  }