.dialog_box{
    display: flex;
   
    float: row;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dialog_content{
    display: flex;
    justify-content: center;
    float: row;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.animation{
    width: 20%;
}